.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-product-info {
  margin-top: 15px;
}

.modal-product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.cancel-btn:hover {
  background-color: #e0e0e0;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.delete-btn:hover {
  background-color: #e03e3e;
}


@media (max-width: 1024px) {
  .modal-content {
    width: 90%;
    padding: 15px;
  }

  .modal-product-image {
    width: 60px;
    height: 60px;
  }

  .modal-buttons {
    flex-direction: column;
    gap: 10px;
  }

  .modal-buttons button {
    width: 100%;
    font-size: 15px;
  }
}
